<div class="show">
  <h1>Get your kitten's picture!</h1>
  <p>get it right now!!!</p>
</div>

<div class="container">
  <div class="article">
    <%= image_tag(@cat.image_url) %>
  </div>
  <div class="description">
    <div class="details">
      <h2><%= @cat.title %></h2>
      <br><hr>
      <p><%= @cat.description %></p>
      <h1><%= @cat.price %>€</h1>
    </div>
  </div>
</div>
<div class="button">
  <%= link_to "Add to cart", root_path %>
</div>
<div class="section1">
  <h1>Jamais deux sans trois!😸</h1>
</div>

<div class="content">

    <% @cats.each do |cat| %>
    <div class="main">
      <%= image_tag(cat.image_url) %>
      <h3><%= cat.title %></h3>
      <p><%= cat.description %></p>
      <p><%= cat.price %></p>
    </div>
      <% end %>
</div>
