<div id="customcarts">
  <h1>😺</h1>
  <h1>My cat carts: <%= @cart.id %></h1>
  <% @cart.items.each do |item| %>
  <div class="photos">
    <p> La superbe photo faite par: <%= item.title %></p>
    <%= image_tag(item.image_url) %>
    <p><%= button_to "Destroy", action: 'destroy_item', id: @cart.id, item: item.id %></p>
  </div>
  <% end %>
  <div class="totalprice">
    <p>Prix total</p>
    <h2><%= @price %></h2>
  </div>
  <div class="footer">
  </div>
</div>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @price %> $</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>