<div class="show">
  <h1>Get your kitten's picture!</h1>
  <p>get it right now!!!</p>
</div>

<div class="container">
  <div class="article">
    <%= image_tag(@item.image_url) %>
  </div>
  <div class="description">
    <div class="details">
      <h2><%= @item.title %></h2>
      <br><hr>
      <p><%= @item.description %></p>
      <h1><%= @item.price %>€</h1>
    </div>
  </div>
</div>
<div class="button">
  <p><%= button_to "Add to cart", add_item_path(@cart.id,@item.id) %></p>
</div>
<div class="section1">
  <h1>Jamais deux sans trois!😸</h1>
</div>

<div class="content">
    <% @items.each do |item| %>
	    <% unless item.id == @item.id %>
		    <div class="main">
		      <a href="items/<%= item.id %>">
			      <%= image_tag(item.image_url) %>
			      <h3><%= item.title %></h3>
			      <p><%= item.description %></p>
			      <p><%= item.price %></p>
			  </a>
		    </div>
		<% end %>
  <% end %>
</div>
